################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FishingPlace/.vs/FishingPlace/FileContentIndex
